<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cwk.gps.mapper.EmployeeMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into employee
        (name, username, password, phone, level, create_time, update_time, status, create_user, update_user)
        values
        (#{name},#{username},#{password},#{phone},#{level},#{createTime},#{updateTime},#{status},#{createUser},#{updateUser})
    </insert>

    <select id="pageQuery" resultType="com.cwk.pojo.entity.Employee">
        select * from employee
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
        order by create_time asc
    </select>

    <update id="update" parameterType="com.cwk.pojo.entity.Employee">
        update employee
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="username!=null">
                username = #{username},
            </if>
            <if test="password!=null">
                password = #{password},
            </if>
            <if test="phone!=null">
                phone = #{phone},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser!=null">
                update_user = #{updateUser},
            </if>
            <if test="level!=null">
                level = #{level},
            </if>
            <if test="status!=null">
                status = #{status},
            </if>
        </set>
            where id = #{id}
    </update>
</mapper>
