<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cwk.gps.mapper.UserMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into gps.user(username, email, password, avatar)
            values
        (#{username},#{email},#{password},#{avatar})
    </insert>
    <update id="update">
        update gps.user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultType="com.cwk.pojo.entity.User">
        select * from user
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
